Babel==2.18.0
email_validator==2.3.0
Faker==40.36.0
fb_duckling==1.0
hdbscan==0.8.44
networkx==3.6.1
numpy==2.5.1
pandas==3.0.5
pandas_type_detector==1.0.1
pandera==0.31.1
phonenumbers==9.0.36
presidio_analyzer==2.2.364
price_parser==0.5.1
protobuf==7.35.1
pydantic==2.13.4
pytest==9.1.1
python-dotenv==1.2.2
python_dateutil==2.9.0.post0
rapidfuzz==3.14.5
scipy==1.18.0
sentence_transformers==5.6.1
SQLAlchemy==2.0.51
sqlparse==0.5.5
